
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background:linear-gradient(blue, lightgreen) ;
    color: white;
}

/* X and O colors */
.x-chip {
    color: white;
    background-color: red;
    font-weight: bold;
}
.o-chip {
    color: white;
    background-color: yellow;
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;

}

/* Game board look */
table {
    border-spacing: 12px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}

/* Table cells */
td {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    color: black;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

   
}

/* Hover over a column */
td:hover {
    transform: scale(1.1);
    background: #e8e8e8;
}



/* message */
#message {
    margin-top: 15px;
    font-size: 24px;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Falling chip animation element */
#fallingChip {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: transform 0.3s linear, opacity 0.15s;
}

/* Reset button */
button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    background: red;
    color: white;
    border-radius: 10px;
    
}

button:hover {
    transform: scale(1.2);
    background: grey;
    opacity: 0.8;
}
